.spinner {
    display: grid;
    justify-items: center;  /* Centers the items horizontally */
    align-items: center;    /* Centers the items vertically */
    min-height: 80vh;       /* Ensure the container takes up 80% of the viewport height */
}

.spin {
    width: 65px;
    height: 65px;
    border: 5px solid #bdbdbd;
    border-top-color: #4500c6;
    border-radius: 50%;
    animation: rotate 2s infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
